.custom-radio {
    position: absolute;
    opacity: 0;
}

.radio-label{
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

.radio-label::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border: 2px solid #B6B6B6;
    background: #0F0F0F;
    border-radius: 50%;
}

.radio-label::after{
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    background: #E3FFA8;
    border-radius: 50%;
    opacity: 0;

}

.custom-radio:checked +  .radio-label::after {
opacity: 1;
}